<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.axway.ms.dml.simulation.ui.MDSimulationLaunchConfigurationType">
<booleanAttribute key=".noDeploy" value="false"/>
<booleanAttribute key=".noRepositoryContent" value="false"/>
<booleanAttribute key=".openOutputCheckbox" value="true"/>
<booleanAttribute key=".useDebugMode" value="true"/>
<booleanAttribute key="checkInputCheckConstraints" value="false"/>
<booleanAttribute key="checkInputFacet" value="false"/>
<booleanAttribute key="checkOutputCheckConstraints" value="false"/>
<booleanAttribute key="checkOutputFacet" value="false"/>
<mapAttribute key="com.axway.ms.dml.simulation.ui.attributeVariables">
<mapEntry key="0#ACCEPT_INPUT_DOCUMENTS_WITH_ERRORS#" value="0"/>
<mapEntry key="1#ACCEPT_OUTPUT_DOCUMENTS_WITH_ERRORS#" value="0"/>
</mapAttribute>
<stringAttribute key="com.axway.ms.dml.simulation.ui.bdocInputFilePath" value="C:\Users\hkaur\Documents\Lattice\Lattice_Outbound_865\Lattice source\POCAO_20180909_143126.dat"/>
<mapAttribute key="com.axway.ms.dml.simulation.ui.bdocOutputFilePath">
<mapEntry key="error" value="/Sentinel_INH_To_X12_865_3010_Arrow_US/Testdata/error"/>
<mapEntry key="out" value="C:\Users\hkaur\Documents\Lattice\Lattice_Outbound_865\test files\input_bdoc"/>
</mapAttribute>
<mapAttribute key="com.axway.ms.dml.simulation.ui.channels"/>
<mapAttribute key="com.axway.ms.dml.simulation.ui.communications"/>
<stringAttribute key="com.axway.ms.dml.simulation.ui.errorMapWorkspacePath" value=""/>
<booleanAttribute key="com.axway.ms.dml.simulation.ui.handleErrorMap" value="true"/>
<stringAttribute key="com.axway.ms.dml.simulation.ui.objectWorkspacePath" value="/Sentinel_INH_To_X12_865_3010_Arrow_US/Business Documents/IH_Source.bdoc"/>
<stringAttribute key="com.axway.ms.dml.simulation.ui.simulationTimeout" value="240000"/>
<booleanAttribute key="com.axway.ms.dml.simulation.ui.useDefaultErrorMapWorkspacePath" value="true"/>
<booleanAttribute key="continueMessageProcessingOnError" value="false"/>
<booleanAttribute key="groupAllResultingInstances" value="false"/>
<booleanAttribute key="keepExactValue" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sentinel_INH_To_X12_865_3010_Arrow_US/Business Documents/IH_Source.bdoc"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="stopOnFirstInputCheckConstraintsError" value="false"/>
<booleanAttribute key="stopOnFirstInputFacetCheckError" value="false"/>
<booleanAttribute key="stopOnFirstOutputCheckConstraintsError" value="false"/>
<booleanAttribute key="stopOnFirstOutputFacetCheckError" value="false"/>
</launchConfiguration>
